Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| personId    | int     |
| lastName    | varchar |
| firstName   | varchar |
+-------------+---------+
personId is the primary key (column with unique values) for this table.
This table contains information about the ID of some persons and their first and last names.

Table: Address

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| addressId   | int     |
| personId    | int     |
| city        | varchar |
| state       | varchar |
+-------------+---------+
addressId is the primary key (column with unique values) for this table.
Each row of this table contains information about the city and state of one person with ID = PersonId.
 

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Person table:
+----------+----------+-----------+
| personId | lastName | firstName |
+----------+----------+-----------+
| 1        | Wang     | Allen     |
| 2        | Alice    | Bob       |
+----------+----------+-----------+
Address table:
+-----------+----------+---------------+------------+
| addressId | personId | city          | state      |
+-----------+----------+---------------+------------+
| 1         | 2        | New York City | New York   |
| 2         | 3        | Leetcode      | California |
+-----------+----------+---------------+------------+
Output: 
+-----------+----------+---------------+----------+
| firstName | lastName | city          | state    |
+-----------+----------+---------------+----------+
| Allen     | Wang     | Null          | Null     |
| Bob       | Alice    | New York City | New York |
+-----------+----------+---------------+----------+
Explanation: 
There is no address in the address table for the personId = 1 so we return null in their city and state.
addressId = 1 contains information about the address of personId = 2

Approach 1: Using merge
Visualization of approach 1

fig

Intuition
Let's breakdown the steps given the following input DataFrames:

person:

personId	lastName	firstName
1	Wang	Allen
2	Alice	Bob

address:

addressId	personId	city	state
1	2	New York City	New York
2	3	Leetcode	California

Merging the DataFrames

result = pd.merge(person, address, on='personId', how='left')
In this step, we are merging the person and address dataframes using a left join operation with the pd.merge() function. Here:

on='personId' specifies that we are using the 'personId' column as the key for merging the data. This column is present in both dataframes, and it holds unique identifiers for the individuals.
how='left' specifies that we are performing a left join, meaning all the records from the person dataframe (the left dataframe) will be retained, and the matching records from the address dataframe (the right dataframe) will be merged where the 'personId' values match. If a 'personId' from the person dataframe does not have a matching 'personId' in the address dataframe, the 'city' and 'state' columns for that record will contain NaN values (representing missing data).
personId	lastName	firstName	addressId	city	state
1	Wang	Allen	NaN	NaN	NaN
2	Alice	Bob	1.0	New York City	New York

Selecting Relevant Columns

result = result[['firstName', 'lastName', 'city', 'state']]
In this step, we select only the columns that we are interested in for the final output. Since the merging operation can potentially bring in other columns from the address dataframe, we are explicitly selecting only the 'firstName', 'lastName', 'city', and 'state' columns to be in our final result. This helps in maintaining a clean and focused dataset which contains only the information we are interested in.

firstName	lastName	city	state
Allen	Wang	NaN	NaN
Bob	Alice	New York City	New York

In summary, this script is taking two separate dataframes and merging them into a single dataframe where each row represents a person and contains their first name, last name, city, and state. This is done using the person's unique identifier to correctly match each person with their address. It's a common operation when you want to bring together information from different sources into a unified view.

Implementation
https://leetcode.com/problems/combine-two-tables/submissions/1357744823/

In [ ]:
import pandas as pd

def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    merged_df = person.merge(address, on='personId', how='left')
    result_df = merged_df[['firstName', 'lastName', 'city', 'state']]
    return result_df